/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

/* MAIN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    font-size: 18px;
}

label {
    cursor: pointer;
}


/* REGISTRATION */
.registration-container {
    margin: 80px auto 0 auto;
    width: 300px;
}

.registration-container .radiobox {
    width: 100px;
    margin: 5px ;
    display: inline;
}

.registration-container input[type="radio"] {
    width: 10px;
    display: inline-block;
}